$color5: #1e1e1e;
$color4: #252526;
$color3: #333333;
$color2: #383838;
$color1: #606060;
$font: white;

// $dark1: #1e1e1e;             btn hover
// $dark2: #252526;   //active
// $dark3: #333333;
// $dark4: #383838;
// $dark5: #606060;   //hover   btn color
// $font: white;
