@import "./Color.scss";

@keyframes pushEffect {
  0% {
    transform: scale(1);
  }
  50% {
    background: #61dafb;
    color: #20232a;
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pullEffect {
  0% {
    transform: scale(1);
  }
  50% {
    background: #61dafb;
    color: #20232a;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes outlineShrink {
  100% {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
}

@keyframes outlineSpread {
  100% {
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    opacity: 0;
  }
}

@keyframes shakeHor {
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shakeVer {
  25% {
    transform: translateY(3px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shakeTwist {
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes blinking {
  25% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes sizeShrink {
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.15);
  }
  30% {
    transform: scale(1.05);
  }
  40% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1.15);
  }
  60% {
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  80% {
    transform: scale(1.15);
  }
  90% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(0.8);
    background: $hover;
    color: $hoverFont;
  }
}

@keyframes sizeSpread {
  10% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(0.8);
  }
  40% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(0.8);
  }
  70% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
    background: $hover;
    color: $hoverFont;
  }
}