@import "./ButtonAnimation.scss";
@import "./Color.scss";

@mixin btn-style($padding, $minWidth, $minHeight) {
  padding: 0 $padding;
  min-width: $minWidth;
  min-height: $minHeight;
}
.btn {
  background: $btnColor;
  border: 1px;
  font-size: 1rem;
  color: $font;
  cursor: pointer;
  margin: 1rem;
  text-transform: capitalize;
}
.btn:focus {
  outline: none;
}
.btn__sm {
  font-size: 0.8rem;
  @include btn-style(0.3rem, 2rem, 2rem);
}
.btn__md {
  @include btn-style(0.5rem, 2.3rem, 2.3rem);
}
.btn__lg {
  font-size: 1.2rem;
  @include btn-style(1rem, 2.5rem, 2.5rem);
}
.btn__full {
  width: 100%;
  height: 100%;
  margin: 0;
}
.btn__fade:hover {
  background: $hover;
  color: $hoverFont;
  transition-duration: 0.5s;
}

.btn__fade__lr {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__lr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 100%;
  transition-duration: 0.5s;
}
.btn__fade__lr:hover {
  color: $hoverFont;
}
.btn__fade__lr:hover:before {
  transform: scaleX(1);
}

.btn__fade__rl {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__rl:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition-duration: 0.5s;
}
.btn__fade__rl:hover {
  color: $hoverFont;
}
.btn__fade__rl:hover:before {
  transform: scaleX(1);
}

.btn__fade__tb {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__tb:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 100% 0;
  transition-duration: 0.5s;
}
.btn__fade__tb:hover {
  color: $hoverFont;
}
.btn__fade__tb:hover:before {
  transform: scaleY(1);
}

.btn__fade__bt {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__bt:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 0 100%;
  transition-duration: 0.5s;
}
.btn__fade__bt:hover {
  color: $hoverFont;
}
.btn__fade__bt:hover:before {
  transform: scaleY(1);
}

.btn__fade__ho {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__ho:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition-duration: 0.5s;
}
.btn__fade__ho:hover {
  color: $hoverFont;
}
.btn__fade__ho:hover:before {
  transform: scaleX(1);
}

.btn__fade__hi {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
  background: $hover;
}
.btn__fade__hi:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #606060;
  z-index: -1;
  transform: scaleX(1);
  transform-origin: 50%;
  transition-duration: 0.5s;
}
.btn__fade__hi:hover {
  color: $hoverFont;
}
.btn__fade__hi:hover:before {
  transform: scaleX(0);
}

.btn__fade__vo {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__fade__vo:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $hover;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: 0 50%;
  transition-duration: 0.5s;
}
.btn__fade__vo:hover {
  color: $hoverFont;
}
.btn__fade__vo:hover:before {
  transform: scaleY(1);
}

.btn__fade__vi {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
  background: $hover;
}
.btn__fade__vi:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #606060;
  z-index: -1;
  transform: scaleY(1);
  transform-origin: 50%;
  transition-duration: 0.5s;
}
.btn__fade__vi:hover {
  color: $hoverFont;
}
.btn__fade__vi:hover:before {
  transform: scaleY(0);
}

.btn__topline__lr {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__topline__lr:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 100%;
  transition-duration: 0.5s;
}
.btn__topline__lr:hover:before {
  transform: scaleX(1);
}

.btn__topline__rl {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__topline__rl:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition-duration: 0.5s;
}
.btn__topline__rl:hover:before {
  transform: scaleX(1);
}

.btn__topline__ho {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__topline__ho:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition-duration: 0.5s;
}
.btn__topline__ho:hover:before {
  transform: scaleX(1);
}

.btn__bottomline__lr {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__bottomline__lr:before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 0 100%;
  transition-duration: 0.5s;
}
.btn__bottomline__lr:hover:before {
  transform: scaleX(1);
}

.btn__bottomline__rl {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__bottomline__rl:before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition-duration: 0.5s;
}
.btn__bottomline__rl:hover:before {
  transform: scaleX(1);
}

.btn__bottomline__ho {
  transition-property: color;
  transition-duration: 0.5s;
  transform: translateZ(0);
}
.btn__bottomline__ho:before {
  content: "";
  position: absolute;
  top: 100;
  left: 0;
  right: 0;
  bottom: 0;
  height: 5px;
  background: $hover;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: 50% 0;
  transition-duration: 0.5s;
}
.btn__bottomline__ho:hover:before {
  transform: scaleX(1);
}

.btn__round {
  color: $font;
  transition-duration: 0.5s;
  border-radius: 0;
}
.btn__round:hover {
  background: $hover;
  color: $hoverFont;
  transition-duration: 0.5s;
  border-radius: 15px;
}

.btn__sizeup {
  transition-duration: 0.5s;
}
.btn__sizeup:hover {
  background: $hover;
  color: $hoverFont;
  transform: scale(1.2);
  transition-duration: 0.5s;
}

.btn__sizedown {
  transition-duration: 0.5s;
}
.btn__sizedown:hover {
  background: $hover;
  color: $hoverFont;
  transform: scale(0.8);
  transition-duration: 0.5s;
}

.btn__pull:hover {
  animation: pullEffect 0.5s;
}

.btn__push:hover {
  animation: pushEffect 0.5s;
}

.btn__outline__shrink {
  position: relative;
}
.btn__outline__shrink:hover {
  background: $hover;
  color: $hoverFont;
}
.btn__outline__shrink:before {
  position: absolute;
  content: "";
  border: 5px solid $hover;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  opacity: 0;
  transition-property: top, left, right, bottom;
  transition-duration: 0.5s;
}
.btn__outline__shrink:hover:before {
  animation: outlineShrink 0.5s infinite;
}

.btn__outline__spread {
  position: relative;
}
.btn__outline__spread:hover {
  background: $hover;
  color: $hoverFont;
}
.btn__outline__spread:before {
  position: absolute;
  content: "";
  border: 5px solid $hover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition-property: top, left, right, bottom;
  transition-duration: 0.5s;
}
.btn__outline__spread:hover:before {
  opacity: 1;
  animation: outlineSpread 0.5s infinite;
}

.btn__shake__horizontal:hover {
  background: $hover;
  color: $hoverFont;
  animation: shakeHor 0.3s infinite;
}

.btn__shake__vertical:hover {
  background: $hover;
  color: $hoverFont;
  animation: shakeVer 0.3s infinite;
}

.btn__shake__twist:hover {
  background: $hover;
  color: $hoverFont;
  animation: shakeTwist 0.2s infinite;
}

.btn__blinking:hover {
  background: $hover;
  color: $hoverFont;
  animation: blinking 0.5s infinite;
}

.btn__sizeSpread:hover {
  animation: sizeSpread 0.5s linear 1;
  animation-fill-mode: forwards;
}

.btn__sizeShrink:hover {
  animation: sizeShrink 0.5s linear 1;
  animation-fill-mode: forwards;
}

.btn__hideTop {
  transition-duration: 0.7s;
  transform: scaleY(1);
  transform-origin: top;
}
.btn__hideTop:hover {
  transform: scaleY(0);
  background: $hover;
  color: $hoverFont;
}

.btn__hideBottom {
  transition-duration: 0.7s;
  transform: scaleY(1);
  transform-origin: bottom;
}
.btn__hideBottom:hover {
  transform: scaleY(0);
  background: $hover;
  color: $hoverFont;
}

.btn__hideLeft {
  transition-duration: 0.7s;
  transform: scaleX(1);
  transform-origin: left;
}
.btn__hideLeft:hover {
  transform: scaleX(0);
  background: $hover;
  color: $hoverFont;
}

.btn__hideRight {
  transition-duration: 0.7s;
  transform: scaleX(1);
  transform-origin: right;
}
.btn__hideRight:hover {
  transform: scaleX(0);
  background: $hover;
  color: $hoverFont;
}